<div class="modal fade"
     id="loadingModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="loadingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loadingModalLabel">Generating scenario file</h1>
                <div class="d-flex align-items-center ms-auto">
                    <div class="spinner-border"></div>
                </div>
            </div>
            <div class="modal-body">
                An export file is being generated. This could take a
                short moment. The file will be downloaded and the page
                reloaded when this process is finished.
            </div>
        </div>
    </div>
</div>
