<div class="position-absolute mt-4 ms-4 fs-5" id="selectionBar">
    <ul class="nav nav-pills flex-column p-2 gap-1 shadow-sm small bg-body-secondary bg-opacity-75 rounded-4 border" id="pillNav2" role="tablist" style="backdrop-filter: blur(0.7rem)"
        <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-3"
                    id="modeSelect"
                    data-bs-toggle="tab"
                    type="button"
                    role="tab"
                    aria-selected="true"
                    title="Mode to look around the scene">
                <i class="bi bi-cursor"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3"
                    id="modeMove"
                    data-bs-toggle="tab"
                    type="button"
                    role="tab"
                    aria-selected="false"
                    title="Mode to move objects around">
                <i class="bi bi-arrows-move"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3"
                    id="modeRotate"
                    data-bs-toggle="tab"
                    type="button"
                    role="tab"
                    aria-selected="false"
                    title="Mode to rotate objects">
                <i class="bi bi-arrow-repeat"></i>
            </button>
        </li>
    </ul>
</div>
