<div class="position-absolute bottom-0 mb-4 fs-5 d-flex justify-content-center w-100">
    <div class="p-2 gap-2 shadow-sm bg-body-secondary bg-opacity-75 rounded-4 border d-flex"
         style="backdrop-filter: blur(0.7rem)">
        <button class="btn btn-primary custom-btn d-flex gap-1 text-reset"
                id="quickSettingsHeliostat"
                title="Add a heliostat">
            <i class="bi bi-arrow-up-right-square"></i>
        </button>
        <button class="btn btn-primary custom-btn d-flex gap-1 text-reset"
                id="quickSettingsReceiver"
                title="Add a receiver">
            <i class="bi bi-align-bottom"></i>
        </button>
        <button class="btn btn-primary custom-btn d-flex gap-1 text-reset"
                id="quickSettingsLightsource"
                title="Add a light source">
            <i class="bi bi-lightbulb"></i>
        </button>
        <button class="btn btn-primary rounded-3 fw-bolder"
                data-bs-target="#startJobModal"
                data-bs-toggle="modal"
                title="Render a job">Render</button>
    </div>
</div>
