<!-- Displays all messages in this request as floating toasts in the bottom right corner -->
{% if messages %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="toast show"
                     style="backdrop-filter: blur(0.7rem)"
                     role="alert"
                     aria-live="assertive"
                     aria-atomic="true">
                    <div class="toast-header text-bg-danger">
                        <strong class="me-auto">Error</strong>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="toast show"
                     style="backdrop-filter: blur(0.7rem)"
                     role="alert"
                     aria-live="assertive"
                     aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Info</strong>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="toast show"
                     style="backdrop-filter: blur(0.7rem)"
                     role="alert"
                     aria-live="assertive"
                     aria-atomic="true">
                    <div class="toast-header text-bg-success">
                        <strong class="me-auto">Success</strong>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
