<div class="dropup d-flex justify-content-between mx-3 py-1">
  <button
    class="btn btn-primary custom-btn text-reset fs-3 position-relative p-0 px-1 rounded-3"
    data-bs-toggle="modal"
    data-bs-target="#jobInterface"
    id="jobInterfaceToggle"
    title="Current Jobs"
  >
    <div id="hasActiveJobsIndicator" class="d-none">
      <span
        class="position-absolute top-0 start-100 translate-middle bg-danger bg-opacity-50 rounded-circle"
        style="padding: 0.7rem"
      >
        <span class="visually-hidden">New alerts</span>
      </span>
      <span
        class="position-absolute top-0 start-100 translate-middle bg-danger rounded-circle"
        style="padding: 0.3rem"
      >
        <span class="visually-hidden">New alerts</span>
      </span>
    </div>
    <i class="bi bi-list-ul p-1"></i>
  </button>
  <a
    class="dropdown-toggle d-flex align-items-center link-body-emphasis text-decoration-none"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="{{ request.user.userprofile.image_url }}"
      alt="Profile Picture"
      class="rounded-circle me-2"
      style="width: 32px; height: 32px; object-fit: cover"
    />

    <strong class="me-2">{{ request.user.first_name }}</strong>
  </a>
  <ul class="dropdown-menu text-small">
    <div class="px-3 gap-1">
      <p class="m-0">
        {{ request.user.first_name }} {{ request.user.last_name }}
      </p>
      <p class="text-secondary m-0">{{ request.user.email }}</p>
    </div>
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li>
      <button
        class="dropdown-item"
        data-bs-toggle="modal"
        data-bs-target="#settings"
      >
        Settings
      </button>
    </li>
    <li>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="dropdown-item">Sign out</button>
      </form>
    </li>
  </ul>
</div>
