{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link href="{% static 'css/editor.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block script %}
    <script src="{% static 'js/darkmode.mjs' %}" type="module"></script>
    <script type="importmap">
        {
            "imports": {
                "darkmode": "{% static 'js/darkmode.mjs' %}",
                "three": "{% static 'js/three.module.js' %}",
                "three/addons/": "{% static 'js/three/examples/jsm/' %}",
                "navbar": "{% static 'js/navbar.mjs' %}",
                "compass": "{% static 'js/compass.mjs' %}",
                "objects": "{% static 'js/objects.mjs' %}",
                "orbitControls": "{% static 'js/three/examples/jsm/controls/OrbitControls.js' %}",
                "transformControls": "{% static 'js/three/examples/jsm/controls/TransformControls.js' %}",
                "command": "{% static 'js/command.mjs' %}",
                "undoRedoHandler": "{% static 'js/undoRedoHandler.mjs' %}",
                "singleObjectCommands": "{% static 'js/singleObjectCommands.mjs' %}",
                "picker": "{% static 'js/picker.mjs' %}",
                "saveAndLoadHandler": "{% static 'js/saveAndLoadHandler.mjs' %}",
                "bulkObjectCommands": "{% static 'js/bulkObjectCommands.mjs' %}",
                "overview": "{% static 'js/overview.mjs' %}",
                "editor": "{% static 'js/editor.mjs' %}",
                "objectManager": "{% static 'js/objectManager.mjs' %}",
                "quickSelector": "{% static 'js/quickSelector.mjs' %}",
                "updateCommands": "{% static 'js/updateCommands.mjs' %}",
                "duplicateCommands": "{% static 'js/duplicateCommands.mjs' %}",
                "deleteCommands": "{% static 'js/deleteCommands.mjs' %}",
                "inspectorComponents": "{% static 'js/inspectorComponents.mjs' %}",
                "inspectorClass": "{% static 'js/inspector.mjs' %}",
                "previewHandler": "{% static 'js/previewHandler.mjs' %}",
                "projectSettingsManager": "{% static 'js/projectSettingsManager.mjs' %}",
                "createCommands": "{% static 'js/createCommands.mjs' %}",
                "navBar": "{% static 'js/navbar.mjs' %}",
                "jobInterface": "{% static 'js/jobInterface.mjs' %}",
                "commandPrompt": "{% static 'js/commandPrompt.mjs' %}",
                "promptCommands": "{% static 'js/promptCommands.mjs' %}",
                "bootstrap": "{% static 'js/bootstrap.esm.js' %}",
                "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
                "modeSelector": "{% static 'js/modeSelector.mjs' %}"
            }
        }
    </script>
    <script type="module">
    import { Editor } from "{% static 'js/editor.mjs' %}";

        window.addEventListener('DOMContentLoaded', (_) => {
            new Editor("{{ project_id }}");
        });
    </script>
{% endblock %}
{% block body %}
    <!-- loading animation -->
    {% include "editor/loadingAnimation.html" %}
    <!-- message system -->
    {% include "editor/messageSystem.html" %}
    <!-- HDF5 Creation Modal -->
    {% include "editor/modals/hdf5CreationModal.html" %}
    <!--settings modal-->
    {% include "settings.html" %}
    <!--job interface modal-->
    {% include "editor/modals/jobInterface.html" %}
    <!-- command prompt modal-->
    {% include "editor/modals/commandPromptModal.html" %}
    <!-- create new project modal -->
    {% include "editor/modals/createNewProjectModal.html" %}
    <!-- open existing project modal -->
    {% include "editor/modals/openExistingProjectModal.html" %}
    <!-- keybindings modal -->
    {% include "editor/modals/keybindingsModal.html" %}
    <!-- about modal -->
    {% include "editor/modals/aboutModal.html" %}
    <!-- main content -->
    <div class="container-fluid d-flex flex-column min-vh-100 p-0">
        <!-- navigation bar -->
        {% include "editor/navbar.html" %}
        <!-- main editor pane -->
        <main class="d-flex flex-row flex-fill">
            <!-- canvas -->
            <div class="mb-2 mx-0 ms-2 overflow-hidden rounded-3 shadow position-relative"
                 id="canvas">
                <!--mode selector-->
                {% include "editor/modeSelector.html" %}
                <!--quick settings-->
                {% include "editor/quickSettings.html" %}
            </div>
            <!-- sidebar -->
            {% include "editor/sidebar/sidebar.html" %}
        </main>
    </div>
{% endblock body %}
