{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link href="{% static 'css/editor.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block script %}
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script type="importmap">
        {
            "imports": {
                "three": "{% static 'js/three.module.js' %}",
                "three/addons/": "{% static 'js/three/examples/jsm/' %}",
                "navbar": "{% static 'js/navbar.mjs' %}",
                "compass": "{% static 'js/compass.mjs' %}",
                "objects": "{% static 'js/objects.mjs' %}",
                "orbitControls": "{% static 'js/three/examples/jsm/controls/OrbitControls.js' %}",
                "transformControls": "{% static 'js/three/examples/jsm/controls/TransformControls.js' %}",
                "command": "{% static 'js/command.mjs' %}",
                "undoRedoHandler": "{% static 'js/undoRedoHandler.mjs' %}",
                "singleObjectCommands": "{% static 'js/singleObjectCommands.mjs' %}",
                "picker": "{% static 'js/picker.mjs' %}",
                "saveAndLoadHandler": "{% static 'js/saveAndLoadHandler.mjs' %}",
                "bulkObjectCommands": "{% static 'js/bulkObjectCommands.mjs' %}",
                "overview": "{% static 'js/overview.mjs' %}",
                "editor": "{% static 'js/editor.mjs' %}",
                "objectManager": "{% static 'js/objectManager.mjs' %}",
                "quickSelector": "{% static 'js/quickSelector.mjs' %}",
                "updateCommands": "{% static 'js/updateCommands.mjs' %}",
                "duplicateCommands": "{% static 'js/duplicateCommands.mjs' %}",
                "deleteCommands": "{% static 'js/deleteCommands.mjs' %}",
                "inspectorComponents": "{% static 'js/inspectorComponents.mjs' %}",
                "inspectorClass": "{% static 'js/inspector.mjs' %}",
                "previewHandler": "{% static 'js/previewHandler.mjs' %}",
                "projectSettingsManager": "{% static 'js/projectSettingsManager.mjs' %}",
                "createCommands": "{% static 'js/createCommands.mjs' %}",
                "navBar": "{% static 'js/navbar.mjs' %}",
                "jobInterface": "{% static 'js/jobInterface.mjs' %}",
                "commandPrompt": "{% static 'js/commandPrompt.mjs' %}",
                "promptCommands": "{% static 'js/promptCommands.mjs' %}",
                "bootstrap": "{% static 'js/bootstrap.esm.js' %}",
                "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
                "modeSelector": "{% static 'js/modeSelector.mjs' %}"
            }
        }
    </script>
    <script type="module">
    import { Editor } from "{% static 'js/editor.mjs' %}";

        window.addEventListener('DOMContentLoaded', (_) => {
            new Editor("{{ project_id }}");
        });
    </script>
{% endblock %}
{% block body %}
    <!-- loading animation -->
    <div class="position-fixed z-3 d-flex flex-column gap-3 justify-content-center align-items-center min-vh-100 min-vw-100 bg-body"
         id="loadingScreen">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div>Loading project</div>
    </div>
    <!-- message system -->
    {% if messages %}
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="toast show"
                         style="backdrop-filter: blur(0.7rem)"
                         role="alert"
                         aria-live="assertive"
                         aria-atomic="true">
                        <div class="toast-header text-bg-danger">
                            <strong class="me-auto">Error</strong>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                        </div>
                        <div class="toast-body">{{ message }}</div>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="toast show"
                         style="backdrop-filter: blur(0.7rem)"
                         role="alert"
                         aria-live="assertive"
                         aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Info</strong>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                        </div>
                        <div class="toast-body">{{ message }}</div>
                    </div>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="toast show"
                     style="backdrop-filter: blur(0.7rem)"
                     role="alert"
                     aria-live="assertive"
                     aria-atomic="true">
                    <div class="toast-header text-bg-success">
                        <strong class="me-auto">Success</strong>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<!-- HDF5 Creation Modal -->
<div class="modal fade"
     id="loadingModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="loadingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loadingModalLabel">Generating scenario file</h1>
                <div class="d-flex align-items-center ms-auto">
                    <div class="spinner-border"></div>
                </div>
            </div>
            <div class="modal-body">
                An export file is being generated. This could take a
                short moment. The file will be downloaded and the page
                reloaded when this process is finished.
            </div>
        </div>
    </div>
</div>
<!--settings modal-->
{% include "settings.html" %}
<!--job interface modal-->
{% include "editor/jobInterface.html" %}
<!-- command prompt modal-->
<div class="modal" id="commandPrompt">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-1 px-3">
                <div id="commandInput"></div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        style="transform: scale(0.7)"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="overflow-auto" id="commandList" style="max-height: 10rem"></div>
                <div class="d-flex justify-content-around text-secondary pt-2">
                    <div>
                        <i class="bi bi-arrow-down-up"></i> To navigate
                    </div>
                    <div>
                        <i class="bi bi-arrow-return-right"></i> To execute
                    </div>
                    <div class="d-flex gap-1">
                        <div class="key p-0 border px-1">Esc</div>
                        To dismiss
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create new project modal -->
<div class="modal fade"
     id="createNewProject"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-body">
                <p class="font-italic">
                    Projects will only be saved if they have a name unique to
                    your already existing projects!
                </p>
                <form action="" method="POST" class="d-flex flex-column gap-3">
                    {% csrf_token %} {{ createProjectForm }}
                    <button class="btn btn-primary rounded-3" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- open existing project modal -->
<div class="modal modal-lg fade"
     id="openProject"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Projects</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-3">
                {% for project in projects %}
                    <div class="px-2">
                        <div class="card rounded-3 bg-body-tertiary overflow-hidden mx-auto w-100">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a class="col-md-4" href="{% url 'editor' project.name %}">
                                        {% if project.preview %}
                                            <img src="{{ project.preview.url }}"
                                                 alt="{{ project.name }}"
                                                 class="img-fluid h-100" />
                                        {% else %}
                                            <img src="{% static 'img/emptyEditor.png' %} "
                                                 alt="{{ project.name }}"
                                                 class="img-fluid h-100" />
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="d-flex gap-1">
                                            <div class="d-flex flex-column">
                                                <h1 class="fw-bolder">{{ project.name }}</h1>
                                                <p class="fw-light">{{ project.description }}</p>
                                                <p class="text-start">Last edited: {{ project.last_edited }}</p>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2">
                                            <a role="button"
                                               href="{% url 'editor' project_name=project.name %}"
                                               class="btn btn-primary">Open</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- keybindings modal -->
<div class="modal modal-lg fade"
     id="keyboardModal"
     tabindex="-1"
     aria-labelledby="keyboardModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="keyboardModalLabel">Keybindings</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body gap-1">
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="border rounded-1 p-2" style="font-size: 80%">Esc</span>
                    </div>
                    <div class="col-9 fw-medium">Close dialogs</div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="border rounded-1 p-2" style="font-size: 80%">Ctrl</span>
                        <span class="mx-1">+</span>
                        <span class="border rounded-1 p-2" style="font-size: 80%">Z</span>
                    </div>
                    <div class="col-9 fw-medium">Undo</div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="mb-3">
                            <span class="border rounded-1 p-2" style="font-size: 80%">Ctrl</span>
                            <span class="mx-1">+</span>
                            <span class="border rounded-1 p-2" style="font-size: 80%">Shift</span>
                            <span class="mx-1">+</span>
                            <span class="border rounded-1 p-2" style="font-size: 80%">Z</span>
                        </div>
                        <div>
                            <span class="border rounded-1 p-2" style="font-size: 80%">Ctrl</span>
                            <span class="mx-1">+</span>
                            <span class="border rounded-1 p-2" style="font-size: 80%">Y</span>
                        </div>
                    </div>
                    <div class="col-9 fw-medium d-flex align-items-center">Redo</div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="border rounded-1 p-2" style="font-size: 80%">Delete</span>
                    </div>
                    <div class="col-9 fw-medium">Delete object</div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="border rounded-1 p-2" style="font-size: 80%">Cmd</span>
                        <span class="mx-1">+</span>
                        <span class="border rounded-1 p-2" style="font-size: 80%">D</span>
                    </div>
                    <div class="col-9 fw-medium">Duplicate object</div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="border rounded-1 p-2" style="font-size: 80%">Shift</span>
                        <i class="bi bi-hand-index"></i>
                    </div>
                    <div class="col-9 fw-medium">Snap to grid</div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="border rounded-1 p-2" style="font-size: 80%">Ctrl</span>
                    </div>
                    <div class="col-9 fw-medium">Add to object selection</div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="border rounded-1 p-2" style="font-size: 80%">Ctrl</span>
                        <span class="mx-1">+</span>
                        <span class="border rounded-1 p-2" style="font-size: 80%">M</span>
                    </div>
                    <div class="col-9 fw-medium">Cycle through modes</div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="border rounded-1 p-2" style="font-size: 80%">Ctrl</span>
                        <span class="mx-1">+</span>
                        <span class="border rounded-1 p-2" style="font-size: 80%">&#9251;</span>
                    </div>
                    <div class="col-9 fw-medium">Command palette</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about modal -->
<div class="modal fade"
     id="aboutModal"
     tabindex="-1"
     aria-labelledby="aboutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutModalLabel">About</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fw-bold">CANVAS Editor</p>
                <p>
                    Version 1.0
                    <br />
                    For non-commercial use only
                </p>
                <p>Powered by open-source software</p>
                <div>
                    <ul>
                        <li>
                            <a href="https://www.python.org/">Python</a>
                        </li>
                        <li>
                            <a href="https://www.djangoproject.com/">Django</a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/">Bootstrap</a>
                        </li>
                        <li>
                            <a href="https://threejs.org/">three.js</a>
                        </li>
                    </ul>
                    Powered by open-source models
                    <ul>
                        <li>
                            <a href="https://sketchfab.com/3d-models/heliostat-a69be2b713d54a6eab3ce3e49fb65060">Heliostat</a>
                        </li>
                        <li>
                            <a href="https://sketchfab.com/3d-models/tower-fe6dcf4c1f344b339c49d59ba9dd1aa3">Receiver</a>
                        </li>
                    </ul>
                    Copyright © 2024 ARTIST Association
                </div>
                <div class="d-flex justify-content-center pt-3 pb-3">
                    <img class="about-logo px-3"
                         height="auto"
                         width="auto"
                         alt="logo of the KIT"
                         src="{% static 'img/logo_kit.svg' %}" />
                    <img class="about-logo px-3"
                         height="auto"
                         width="auto"
                         alt="logo of the DLR"
                         src="{% static 'img/logo_dlr.svg' %}" />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- main content -->
<div class="container-fluid d-flex flex-column min-vh-100 p-0">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand ms-4" href="/projects">
            <img src="{% static 'img/logo_canvas_round.svg' %}"
                 alt="canvas logo"
                 width="32px"
                 height="32px" />
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!--undo redo buttons-->
                <li class="nav-item">
                    <div class="d-flex px-2">
                        <div class="shadow-sm bg-body-secondary rounded-4 border d-flex">
                            <button class="btn text-reset rounded-4"
                                    id="undo"
                                    style="--bs-btn-hover-bg: var(--bs-tertiary-bg)">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button class="btn text-reset rounded-4"
                                    id="redo"
                                    style="--bs-btn-hover-bg: var(--bs-tertiary-bg)">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <!-- command prompt -->
                <li class="nav-item bg-body-secondary rounded-4 p-0 d-flex justify-content-center border shadow-sm">
                    <button class="btn text-reset rounded-4"
                            id="commandPromptToggle"
                            style="--bs-btn-hover-bg: var(--bs-tertiary-bg)">
                        <i class="bi bi-search"></i>
                    </button>
                </li>
                <!-- file -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle"
                       id="fileDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi-file-earmark me-2"></i>File
                    </a>
                    <div class="dropdown-menu" aria-labelledby="fileDropdown">
                        <a class="dropdown-item"
                           id="new"
                           href="#createNewProject"
                           data-bs-toggle="modal">
                            <i class="bi-file-earmark-plus me-2"></i>New
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           id="import"
                           href="#openProject"
                           data-bs-toggle="modal">
                            <i class="bi-file-earmark-arrow-up me-2"></i>Open
                        </a>
                        <form id="exportForm"
                              class="dropdown-item"
                              action="{% url 'download' project_name=project_name %}"
                              method="post">
                            {% csrf_token %}
                            <button class="btn link-btn" type="submit">
                                <i class="bi-file-earmark-arrow-down me-2"></i>Export
                            </button>
                        </form>
                        <script type="module">
                            import * as bootstrap from "bootstrap"
                            // Handle form submission and display the modal
                            document
                                .getElementById("exportForm")
                                .addEventListener("submit", function (event) {
                                    event.preventDefault(); // Prevent default form submission
                                    let modal = new bootstrap.Modal(
                                        document.getElementById("loadingModal")
                                    );
                                    modal.show();

                                    let form =
                                        document.getElementById("exportForm");
                                    let formData = new FormData(form);

                                    fetch(form.action, {
                                        method: form.method,
                                        body: formData,
                                    })
                                        .then((response) => {
                                            // Trigger file download after response
                                            return response.blob();
                                        })
                                        .then((data) => {
                                            let link =
                                                document.createElement("a");

                                            link.href =
                                                URL.createObjectURL(data);
                                            link.download = `{{ project_name }}.h5`;
                                            link.click();

                                            // After download, close modal and redirect
                                            modal.hide();
                                            window.location.href =
                                                "/editor/{{ project_name }}";
                                        })
                                        .catch((error) => {
                                            console.error("Error:", error);
                                            modal.hide();
                                        });
                                });
                        </script>
                    </div>
                </li>
                <!-- Download confirm Modal -->
                <div class="modal fade"
                     id="downloadConfirmModal"
                     tabindex="-1"
                     aria-labelledby="downloadConfirmLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Exporting scenario</h1>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                The scenario file is being generated and then
                                downloaded. This could take a short moment.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a type="button"
                                   class="btn btn-primary"
                                   href="{% url 'download' project_name %}">Export</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- insert -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle"
                       id="insertDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi-plus-square me-2"></i>Insert
                    </a>
                    <div class="dropdown-menu" aria-labelledby="insertDropdown">
                        <a class="dropdown-item" id="add-heliostat-nav-bar" href="#">
                            <i class="bi-arrow-up-right-square me-2"></i>Heliostat
                        </a>
                        <a class="dropdown-item" id="add-receiver-nav-bar" href="#">
                            <i class="bi-align-bottom me-2"></i>Receiver
                        </a>
                        <a class="dropdown-item" id="add-lightSource-nav-bar" href="#">
                            <i class="bi-lightbulb me-2"></i>Light source
                        </a>
                    </div>
                </li>
                <!-- view -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle"
                       id="viewDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi-view-list me-2"></i>View
                    </a>
                    <div class="dropdown-menu" aria-labelledby="viewDropdown">
                        <a class="dropdown-item" id="fullscreen" href="#">
                            <i class="bi-arrows-fullscreen me-2"></i>Fullscreen
                        </a>
                    </div>
                </li>
                <!-- help -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle"
                       id="helpDropdown"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="bi-question-square me-2"></i>Help
                    </a>
                    <div class="dropdown-menu" aria-labelledby="helpDropdown">
                        <a class="dropdown-item"
                           data-bs-toggle="modal"
                           data-bs-target="#keyboardModal">
                            <i class="bi-keyboard me-2"></i>Keybindings
                        </a>
                        <a class="dropdown-item"
                           href="https://github.com/ARTIST-Association/CANVAS/"
                           target="_blank">
                            <i class="bi-code-slash me-2"></i>Source
                        </a>
                        <a class="dropdown-item"
                           data-bs-toggle="modal"
                           data-bs-target="#aboutModal">
                            <i class="bi-info me-2"></i>About
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- main editor pane -->
    <main class="d-flex flex-row flex-fill">
        <!-- canvas -->
        <div class="mb-2 mx-0 ms-2 overflow-hidden rounded-3 shadow position-relative"
             id="canvas">
            <!--mode selector-->
            <div class="position-absolute mt-4 ms-4 fs-5" id="selectionBar">
                <ul class="nav nav-pills flex-column p-2 gap-1 shadow-sm small bg-body-secondary bg-opacity-75 rounded-4 border" id="pillNav2" role="tablist" style="backdrop-filter: blur(0.7rem)"
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active rounded-3"
                                id="modeSelect"
                                data-bs-toggle="tab"
                                type="button"
                                role="tab"
                                aria-selected="true">
                            <i class="bi bi-cursor"></i>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-3"
                                id="modeMove"
                                data-bs-toggle="tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            <i class="bi bi-arrows-move"></i>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-3"
                                id="modeRotate"
                                data-bs-toggle="tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            <i class="bi bi-arrow-repeat"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <!--quick settings-->
            <div class="position-absolute bottom-0 mb-4 fs-5 d-flex justify-content-center w-100">
                <div class="p-2 gap-2 shadow-sm bg-body-secondary bg-opacity-75 rounded-4 border d-flex"
                     style="backdrop-filter: blur(0.7rem)">
                    <button class="btn btn-primary custom-btn d-flex gap-1 text-reset"
                            id="quickSettingsHeliostat">
                        <i class="bi bi-arrow-up-right-square"></i>
                    </button>
                    <button class="btn btn-primary custom-btn d-flex gap-1 text-reset"
                            id="quickSettingsReceiver">
                        <i class="bi bi-align-bottom"></i>
                    </button>
                    <button class="btn btn-primary custom-btn d-flex gap-1 text-reset"
                            id="quickSettingsLightsource">
                        <i class="bi bi-lightbulb"></i>
                    </button>
                    <button class="btn btn-primary rounded-3 fw-bolder"
                            data-bs-target="#startJobModal"
                            data-bs-toggle="modal">Render</button>
                </div>
            </div>
        </div>
        <!-- HDF5 Render Modal -->
        <div class="modal fade"
             id="renderModal"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="renderModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="renderModalLabel">Generating scenario file</h1>
                        <div class="d-flex align-items-center ms-auto">
                            <div class="spinner-border"></div>
                        </div>
                    </div>
                    <div class="modal-body">
                        An scenario file is being generated. This could take a
                        short moment. The file will be sent to the Job Interface
                        and the page reloaded when this process is finished.
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar -->
        <div class="d-flex flex-column flex-shrink-0 py-2 border-left m-2 mt-0 bg-body-secondary rounded-3"
             id="sidebar">
            <!-- properties -->
            <ul class="nav nav-tabs nav-underline px-2 nav-fill mb-auto"
                id="propertiesTab"
                role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-reset"
                            id="object-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#object-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="object-tab-pane"
                            aria-selected="true">
                        <i class="bi-box me-2"></i>Inspector
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-reset"
                            id="overview-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#overview-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="overview-tab-pane"
                            aria-selected="true">
                        <i class="bi-projector me-2"></i>Overview
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-reset"
                            id="project-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#project-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="project-tab-pane"
                            aria-selected="true">
                        <i class="bi-kanban me-2"></i>Project
                    </button>
                </li>
            </ul>
            <div id="content" class="overflow-auto d-flex flex-fill flex-grow-1 w-100">
                <div class="tab-content h-100 w-100 p-2" id="myTabContent">
                    <!--Inspector-->
                    <div class="tab-pane fade show active"
                         id="object-tab-pane"
                         role="tabpanel"
                         aria-labelledby="object-tab"
                         tabindex="0">
                        <div id="inspector" class="d-flex flex-column gap-2"></div>
                    </div>
                    <!--Item overview-->
                    <div class="tab-pane fade"
                         id="overview-tab-pane"
                         role="tabpanel"
                         aria-labelledby="overview-tab"
                         tabindex="0">
                        <div class="accordion w-100" id="accordionOverview">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#overviewCollapseOne"
                                            aria-expanded="true"
                                            aria-controls="overviewCollapseOne">Heliostats</button>
                                </h2>
                                <div id="overviewCollapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body d-flex flex-column gap-2" id="heliostatList"></div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#overviewCollapseTwo"
                                            aria-expanded="false"
                                            aria-controls="overviewCollapseTwo">Receivers</button>
                                </h2>
                                <div id="overviewCollapseTwo" class="accordion-collapse collapse">
                                    <div class="accordion-body d-flex flex-column gap-2" id="receiverList"></div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#overviewCollapseThree"
                                            aria-expanded="false"
                                            aria-controls="overviewCollapseThree">Light Sources</button>
                                </h2>
                                <div id="overviewCollapseThree" class="accordion-collapse collapse">
                                    <div class="accordion-body d-flex flex-column gap-2" id="lightsourceList"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Project-->
                    <div class="tab-pane fade"
                         id="project-tab-pane"
                         role="tabpanel"
                         aria-labelledby="project-tab"
                         tabindex="0">
                        <div class="accordion w-100" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button id="enviroment-settings-button"
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne"
                                            aria-expanded="false"
                                            aria-controls="collapseOne">Enviroment Settings</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse">
                                    <div class="accordion-body" id="enviroment-settings"></div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button id="graphic-settings-button"
                                            class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo"
                                            aria-expanded="true"
                                            aria-controls="collapseTwo">Graphic Settings</button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse show">
                                    <div class="accordion-body" id="graphic-settings"></div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button id="other-settings-button"
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree"
                                            aria-expanded="false"
                                            aria-controls="collapseThree">Other</button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse">
                                    <div class="accordion-body" id="other-settings"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="settings" class="pb-3 pt-2">
                <hr class="m-0" />
            </div>
            <!-- user -->
            <div class="dropup d-flex justify-content-between mx-3 py-1">
                <button class="btn btn-primary custom-btn text-reset fs-3 position-relative p-0 px-1 rounded-3"
                        data-bs-toggle="modal"
                        data-bs-target="#jobInterface"
                        id="jobInterfaceToggle">
                    <div id="hasActiveJobsIndicator" class="d-none">
                        <span class="position-absolute top-0 start-100 translate-middle bg-danger bg-opacity-50 rounded-circle"
                              style="padding: 0.7rem">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                        <span class="position-absolute top-0 start-100 translate-middle bg-danger rounded-circle"
                              style="padding: 0.3rem">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </div>
                    <i class="bi bi-list-ul p-1"></i>
                </button>
                <a class="dropdown-toggle d-flex align-items-center link-body-emphasis text-decoration-none"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {% if request.user.userprofile.profile_picture %}
                        <img src="{{ request.user.userprofile.profile_picture.url }}"
                             alt="Profile Picture"
                             class="rounded-circle me-2"
                             style="width: 32px;
                                    height: 32px;
                                    object-fit: cover">
                    {% else %}
                        <!-- If the user doesn't have a profile picture -->
                        <img src="/media/profile_pics/default.jpg"
                             alt="Default Profile Picture"
                             class="rounded-circle me-2"
                             style="width: 32px;
                                    height: 32px;
                                    object-fit: cover">
                    {% endif %}
                    <strong class="me-2">{{ request.user.first_name }}</strong>
                </a>
                <ul class="dropdown-menu text-small">
                    <div class="px-3 gap-1">
                        <p class="m-0">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                        <p class="text-secondary m-0">{{ request.user.email }}</p>
                    </div>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <button class="dropdown-item"
                                data-bs-toggle="modal"
                                data-bs-target="#settings">Settings</button>
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Sign out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <script>{
        // fix the size of the inspector pane to prevent overflowing (open for better solutions)
        const content = document.getElementById("content");
        const tab = document.getElementById("propertiesTab");
        const userSettings = document.getElementById("settings");
        const calculateMaxHeight = () => {
            const tabRect = tab.getBoundingClientRect();
            const userSettingsRect = userSettings.getBoundingClientRect();

                let maxHeight = tabRect.bottom - userSettingsRect.top;
                maxHeight = Math.abs(maxHeight);
                content.style.height = maxHeight + "px";
            };

            window.addEventListener("resize", calculateMaxHeight);
            document.addEventListener("DOMContentLoaded", calculateMaxHeight);
        }
    </script>
</div>
{% endblock body %}
