<div
    class="modal fade"
    id="macKeybindings"
    tabindex="-1"
    aria-labelledby="keybindings"
    aria-hidden="true"
>
    <hr style="margin: 0; padding: 0; border: 0.5px solid #888" />
    <div class="modal-body gap-1">
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Esc</span
                >
            </div>
            <div class="col-9 fw-medium">Close dialogs</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Cmd</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Z</span
                >
            </div>
            <div class="col-9 fw-medium">Undo</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <div class="mb-3">
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Cmd</span
                    >
                    <span class="mx-1">+</span>
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Shift</span
                    >
                    <span class="mx-1">+</span>
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Z</span
                    >
                </div>
                <div>
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Cmd</span
                    >
                    <span class="mx-1">+</span>
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Y</span
                    >
                </div>
            </div>
            <div class="col-9 fw-medium d-flex align-items-center">Redo</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3" id="delete-key">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >fn</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >backspace</span
                >
            </div>
            <div class="col-9 fw-medium">Delete object</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Cmd</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >D</span
                >
            </div>
            <div class="col-9 fw-medium">Duplicate object</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Shift</span
                >
                <i class="bi bi-hand-index"></i>
            </div>
            <div class="col-9 fw-medium">Snap to grid</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Cmd</span
                >
            </div>
            <div class="col-9 fw-medium">Add to object selection</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Ctrl</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >M</span
                >
            </div>
            <div class="col-9 fw-medium">Cycle through modes</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Ctrl</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >&#9251;</span
                >
            </div>
            <div class="col-9 fw-medium">Command palette</div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="windowsKeybindings"
    tabindex="-1"
    aria-labelledby="keybindings"
    aria-hidden="true"
>
    <hr style="margin: 0; padding: 0; border: 0.5px solid #888" />
    <div class="modal-body gap-1">
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Esc</span
                >
            </div>
            <div class="col-9 fw-medium">Close dialogs</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Strg</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Z</span
                >
            </div>
            <div class="col-9 fw-medium">Undo</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <div class="mb-3">
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Strg</span
                    >
                    <span class="mx-1">+</span>
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Shift</span
                    >
                    <span class="mx-1">+</span>
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Z</span
                    >
                </div>
                <div>
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Strg</span
                    >
                    <span class="mx-1">+</span>
                    <span class="border rounded-1 p-2" style="font-size: 80%"
                        >Y</span
                    >
                </div>
            </div>
            <div class="col-9 fw-medium d-flex align-items-center">Redo</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3" id="delete-key">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Delete</span
                >
            </div>
            <div class="col-9 fw-medium">Delete object</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Strg</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >D</span
                >
            </div>
            <div class="col-9 fw-medium">Duplicate object</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Shift</span
                >
                <i class="bi bi-hand-index"></i>
            </div>
            <div class="col-9 fw-medium">Snap to grid</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Strg</span
                >
            </div>
            <div class="col-9 fw-medium">Add to object selection</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Strg</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >M</span
                >
            </div>
            <div class="col-9 fw-medium">Cycle through modes</div>
        </div>
        <hr style="padding: 0; border: 0.5px solid #888" />
        <div class="row align-items-center">
            <div class="col-3">
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >Strg</span
                >
                <span class="mx-1">+</span>
                <span class="border rounded-1 p-2" style="font-size: 80%"
                    >&#9251;</span
                >
            </div>
            <div class="col-9 fw-medium">Command palette</div>
        </div>
    </div>
</div>
