<div class="modal fade"
     id="createProject"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-body">
                <style>
          ul.errorlist {
            display: none;
          }
                </style>
                <form action=""
                      method="POST"
                      class="d-flex flex-column gap-2"
                      enctype="multipart/form-data">
                    {% csrf_token %} {{ form }}
                    <br />
                    <button class="btn btn-primary rounded-3" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
