<div class="modal fade"
     id="updateModal-{{ project.name }}"
     tabindex="-1"
     aria-labelledby="updateModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalHeader">Edit Project</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="font-italic">
                    Projects will only be
                    updated if they have a
                    unique name!
                </p>
                <form action="{% url 'updateProject' project_name=project.name %}"
                      method="POST"
                      class="d-flex flex-column gap-2">
                    {% csrf_token %}
                    {{ project.update_form }}
                    <button class="btn btn-primary rounded-3" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
